## THE FOLLOWING VARIABLES ARE PASSED IN THE CONTAINER STARTUP:
#    UI_PORT, API_PORT, APP_SECRET, REDIS_HOST, REDIS_PORT, REDIS_DB, FS_AWS_S3_ACCESS_KEY_ID, FS_REPO, FS_AWS_S3_SECRET_ACCESS_KEY, FS_AWS_S3_REGION, FS_AWS_S3_BUCKET
#    SMTP_HOST, SMTP_PORT, SMTP_SECURED, SMTP_IGNORE_TLS, SMTP_REQUIRE_TLS, SMTP_USER, SMTP_PASS
#    AWS_SQS_ACCESS_KEY_ID, AWS_SQS_SECRET_ACCESS_KEY, AWS_SQS_DEFAULT_REGION

# Node environment (production|development)
NODE_ENV=production

# Site URL (used for emails)
SITE_URL=http://${DOMAIN_NAME}



#############
# DATABASES #
#############

#### MONGO ####

# Mongo URL (e.g. mongodb://localhost:27017/learninglockerV2)
MONGODB_PATH=${MONGO_URL}
# Mongo socket timeout in milliseconds (default=300000)
#MONGO_SOCKET_TIMEOUT_MS=

# Mongo pool size (default=20)
#MONGO_CONNECTION_POOLSIZE=

# Mongo URL for tests
#MONGODB_TEST_PATH=mongodb://localhost:27017/llv2tests

# Are aggregations allowed to use the Mongo disk (true*|false)
#ALLOW_AGGREGATION_DISK_USE=

#### REDIS ####
# Redis is used for caching aggregations and can also be used as a queue driver where SQS is not available
# A prefix for each key in the Redis DB e.g. DEVELOPMENT/PROD
REDIS_PREFIX=LEARNINGLOCKER

# How many seconds are aggregation results cached (default=300)
#AGGREGATION_CACHE_SECONDS=

# Refresh aggregations when this close to expiry (default=120)
#AGGREGATION_REFRESH_AT_SECONDS=

# Max time aggregations can run for in milliseconds (default=0)
# https://docs.mongodb.com/manual/reference/operator/meta/maxTimeMS/
#MAX_TIME_MS=

# Maximum number of documents an aggregation can scan
# https://docs.mongodb.com/manual/reference/operator/meta/maxScan/
#MAX_SCAN=

# Turn off fuzzy scoring on persona matching
# This will make persona workers much faster at scale
#DISABLE_PERSONA_SCORING=false

############
# SECURITY #
############

# Enable/disable frameguard
# Disabling this feature will allow your UI to be embedded (via iframe) into other hosts/domains
#ENABLE_FRAMEGUARD=true

###########
# Logging #
###########

# Minimum logging level (error|warning|info|debug|silly)
LOG_MIN_LEVEL=info
# Relative dir to store API access logs
LOG_DIR=logs
# Logging level for tests
TEST_LOG_MIN_LEVEL=debug
# Use ANSI colour in the logs
COLOR_LOGS=true


#########
# OAuth #
#########

# Enable Google OAuth
# These details are available from the google developer console
GOOGLE_ENABLED=false
#GOOGLE_CLIENT_ID=
#GOOGLE_CLIENT_SECRET=


##########
# Queues #
##########

# Queue management system (REDIS|SQS)
QUEUE_PROVIDER=${QUEUE_PROVIDER}

# Namespace for queues
QUEUE_NAMESPACE=DEV

################
# File storage #
################

# Defaults to `storage`
FS_SUBFOLDER=storage

########
# MISC #
########

# Location of virus scanning binary (ClamAV - https://www.clamav.net/)
#CLAMSCAN_BINARY=/usr/bin/clamscan
